# Environment Files
!.env
.env.*

# Data Folders
node_modules
data
/build/queue-service/discovery/services
/build/queue-service/first-blood/services
/build/queue-service/post-tracker/services
/build/queue-service/profile-tracker/services

# NPM Related Files
yarn.lock
yarn-error.log
package-lock.json
npm-debug.log

# Stuff
.vscode